backend/n8n/workflows/marketplace-order-notification.json
{
    "name": "Marketplace Order Notification",
    "nodes": [
        {
            "parameters": {},
            "id": "webhook-trigger",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                250,
                300
            ],
            "webhookId": "marketplace-order-webhook"
        },
        {
            "parameters": {
                "values": {
                    "string": [
                        {
                            "name": "order_id",
                            "value": "={{ $json.event.data.new.id }}"
                        },
                        {
                            "name": "status",
                            "value": "={{ $json.event.data.new.status }}"
                        },
                        {
                            "name": "provider_id",
                            "value": "={{ $json.event.data.new.provider_id }}"
                        },
                        {
                            "name": "customer_id",
                            "value": "={{ $json.event.data.new.customer_id }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "set-vars",
            "name": "Set Variables",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "url": "={{ $env.HASURA_URL }}",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "{\n  \"query\": \"query GetOrderDetails($order_id: uuid!, $provider_id: uuid!, $customer_id: uuid!) { marketplace_orders_by_pk(id: $order_id) { reference listing { title } } provider_profiles_by_pk(id: $provider_id) { business_name } users_by_pk(id: $customer_id) { email first_name } }\",\n  \"variables\": {\n    \"order_id\": \"{{ $json.order_id }}\",\n    \"provider_id\": \"{{ $json.provider_id }}\",\n    \"customer_id\": \"{{ $json.customer_id }}\"\n  }\n}",
                "options": {}
            },
            "id": "get-details",
            "name": "Get Order Details",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                650,
                300
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "3",
                    "name": "Hasura Admin"
                }
            }
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{ $('Set Variables').json.status }}",
                            "operation": "equal",
                            "value2": "INQUIRY"
                        }
                    ]
                }
            },
            "id": "check-new-inquiry",
            "name": "Is New Inquiry?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                850,
                300
            ]
        },
        {
            "parameters": {
                "url": "={{ $env.HASURA_URL }}",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "{\n  \"query\": \"query GetProviderUser($provider_id: uuid!) { provider_profiles_by_pk(id: $provider_id) { user_id } }\",\n  \"variables\": {\n    \"provider_id\": \"{{ $('Set Variables').json.provider_id }}\"\n  }\n}",
                "options": {}
            },
            "id": "get-provider-user",
            "name": "Get Provider User",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                1050,
                200
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "3",
                    "name": "Hasura Admin"
                }
            }
        },
        {
            "parameters": {
                "url": "={{ $env.ONESIGNAL_API_URL }}",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "{\n  \"app_id\": \"{{ $env.ONESIGNAL_APP_ID }}\",\n  \"include_external_user_ids\": [\"{{ $json.data.provider_profiles_by_pk.user_id }}\"],\n  \"headings\": { \"en\": \"New Order Inquiry! 🔔\" },\n  \"contents\": { \"en\": \"You have a new inquiry for {{ $('Get Order Details').json.data.marketplace_orders_by_pk.listing.title }} from {{ $('Get Order Details').json.data.users_by_pk.first_name }}\" },\n  \"data\": {\n    \"type\": \"new_order\",\n    \"order_id\": \"{{ $('Set Variables').json.order_id }}\"\n  }\n}",
                "options": {}
            },
            "id": "notify-provider",
            "name": "Notify Provider (Push)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                1250,
                200
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "4",
                    "name": "OneSignal API"
                }
            }
        },
        {
            "parameters": {
                "url": "={{ $env.ONESIGNAL_API_URL }}",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "{\n  \"app_id\": \"{{ $env.ONESIGNAL_APP_ID }}\",\n  \"include_external_user_ids\": [\"{{ $('Set Variables').json.customer_id }}\"],\n  \"headings\": { \"en\": \"Order Update\" },\n  \"contents\": { \"en\": \"Your order with {{ $('Get Order Details').json.data.provider_profiles_by_pk.business_name }} is now: {{ $('Set Variables').json.status }}\" },\n  \"data\": {\n    \"type\": \"order_update\",\n    \"order_id\": \"{{ $('Set Variables').json.order_id }}\"\n  }\n}",
                "options": {}
            },
            "id": "notify-customer",
            "name": "Notify Customer (Push)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                1050,
                400
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "4",
                    "name": "OneSignal API"
                }
            }
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Set Variables",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Set Variables": {
            "main": [
                [
                    {
                        "node": "Get Order Details",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Order Details": {
            "main": [
                [
                    {
                        "node": "Is New Inquiry?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Is New Inquiry?": {
            "main": [
                [
                    {
                        "node": "Get Provider User",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Notify Customer (Push)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Provider User": {
            "main": [
                [
                    {
                        "node": "Notify Provider (Push)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {},
    "staticData": null
}