backend/n8n/workflows/remittance-notification.json
{
    "name": "Remittance Status Notification",
    "nodes": [
        {
            "parameters": {},
            "id": "webhook-trigger",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                250,
                300
            ],
            "webhookId": "remittance-status-webhook"
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{ $json.event.data.new.status }}",
                            "operation": "contains",
                            "value2": "COMPLETED"
                        }
                    ]
                }
            },
            "id": "check-status",
            "name": "Is Completed?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "url": "={{ $env.HASURA_URL }}",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "{\n  \"query\": \"query GetUserDetails($id: uuid!) { users_by_pk(id: $id) { id email first_name phone } }\",\n  \"variables\": {\n    \"id\": \"{{ $json.event.data.new.sender_id }}\"\n  }\n}",
                "options": {}
            },
            "id": "get-user",
            "name": "Get User Details",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                650,
                200
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "3",
                    "name": "Hasura Admin"
                }
            }
        },
        {
            "parameters": {
                "fromEmail": "remittance@billyronks.com",
                "toEmail": "={{ $json.data.users_by_pk.email }}",
                "subject": "✅ Your transfer of {{ $('Webhook').json.event.data.new.currency_sent }} {{ $('Webhook').json.event.data.new.amount_sent }} has been completed!",
                "html": "<div style='font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;'><h1 style='color: #10b981;'>Transfer Completed! ✅</h1><p>Hi {{ $json.data.users_by_pk.first_name }},</p><p>Great news! Your transfer has been successfully delivered.</p><div style='background: #f3f4f6; padding: 20px; border-radius: 8px; margin: 20px 0;'><h3>Transfer Details</h3><p><strong>Reference:</strong> {{ $('Webhook').json.event.data.new.reference }}</p><p><strong>Amount Sent:</strong> {{ $('Webhook').json.event.data.new.currency_sent }} {{ $('Webhook').json.event.data.new.amount_sent }}</p><p><strong>Amount Received:</strong> NGN {{ $('Webhook').json.event.data.new.amount_received }}</p><p><strong>Recipient Account:</strong> {{ $('Webhook').json.event.data.new.recipient_account_name }}</p><p><strong>Completed At:</strong> {{ $('Webhook').json.event.data.new.completed_at }}</p></div><p>Thank you for choosing BillyRonks!</p></div>",
                "options": {}
            },
            "id": "email-completed",
            "name": "Send Email (Completed)",
            "type": "n8n-nodes-base.emailSend",
            "typeVersion": 2,
            "position": [
                850,
                200
            ],
            "credentials": {
                "smtp": {
                    "id": "2",
                    "name": "SMTP"
                }
            }
        },
        {
            "parameters": {
                "url": "={{ $env.ONESIGNAL_API_URL }}",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "{\n  \"app_id\": \"{{ $env.ONESIGNAL_APP_ID }}\",\n  \"include_external_user_ids\": [\"{{ $('Webhook').json.event.data.new.sender_id }}\"],\n  \"headings\": { \"en\": \"Transfer Completed! ✅\" },\n  \"contents\": { \"en\": \"Your transfer of {{ $('Webhook').json.event.data.new.amount_sent }} {{ $('Webhook').json.event.data.new.currency_sent }} has been delivered to {{ $('Webhook').json.event.data.new.recipient_account_name }}\" },\n  \"data\": {\n    \"type\": \"transfer_completed\",\n    \"reference\": \"{{ $('Webhook').json.event.data.new.reference }}\"\n  }\n}",
                "options": {}
            },
            "id": "push-notification",
            "name": "Push Notification",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                1050,
                200
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "4",
                    "name": "OneSignal API"
                }
            }
        },
        {
            "parameters": {
                "fromEmail": "remittance@billyronks.com",
                "toEmail": "={{ $json.data.users_by_pk.email }}",
                "subject": "🔄 Update on your transfer {{ $('Webhook').json.event.data.new.reference }}",
                "html": "<div style='font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;'><h1>Transfer Update</h1><p>Hi {{ $json.data.users_by_pk.first_name }},</p><p>Your transfer status has been updated.</p><div style='background: #f3f4f6; padding: 20px; border-radius: 8px; margin: 20px 0;'><p><strong>Reference:</strong> {{ $('Webhook').json.event.data.new.reference }}</p><p><strong>New Status:</strong> {{ $('Webhook').json.event.data.new.status }}</p></div><p><a href='{{ $env.APP_URL }}/transfers/{{ $('Webhook').json.event.data.new.id }}'>Track your transfer</a></p></div>",
                "options": {}
            },
            "id": "email-status-update",
            "name": "Send Email (Status Update)",
            "type": "n8n-nodes-base.emailSend",
            "typeVersion": 2,
            "position": [
                850,
                400
            ],
            "credentials": {
                "smtp": {
                    "id": "2",
                    "name": "SMTP"
                }
            }
        },
        {
            "parameters": {
                "url": "={{ $env.HASURA_URL }}",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "{\n  \"query\": \"query GetUserDetails($id: uuid!) { users_by_pk(id: $id) { id email first_name phone } }\",\n  \"variables\": {\n    \"id\": \"{{ $json.event.data.new.sender_id }}\"\n  }\n}",
                "options": {}
            },
            "id": "get-user-other",
            "name": "Get User (Other Status)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                650,
                400
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "3",
                    "name": "Hasura Admin"
                }
            }
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Is Completed?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Is Completed?": {
            "main": [
                [
                    {
                        "node": "Get User Details",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Get User (Other Status)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get User Details": {
            "main": [
                [
                    {
                        "node": "Send Email (Completed)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send Email (Completed)": {
            "main": [
                [
                    {
                        "node": "Push Notification",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get User (Other Status)": {
            "main": [
                [
                    {
                        "node": "Send Email (Status Update)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {},
    "staticData": null
}